<h2>Add new shape</h2>
<h3>Invalid: {{error}}</h3>
<form method="POST" action="">
	<div>
		<label for="shape">Shape</label>
		<input type="text" id="shape" name="shape" value="">
	</div>
	<div>
		<label for="r">R</label>
		<input type="text" id="r" name="r" value="">
	</div>
    <div>
		<label for="g">G</label>
		<input type="text" id="g" name="g" value="">
	</div>
    <div>
		<label for="b">B</label>
		<input type="text" id="b" name="b" value="">
	</div>

	<div>
		<label for="x">X:</label>
		<textarea name="x" id="x"></textarea>
	</div>
    <div>
		<label for="y">Y:</label>
		<textarea name="y" id="y"></textarea>
	</div>
	<input type="submit" value="Add">
</form>